block title
  title Francois Coron | Contact
block description
  meta(name="description" content="Designer Web & Développeur web front-end basé à Lyon. Vous pouvez me contacter pour tout projet de site web tant dans le design, dans le développement ou dans l'optimisation")

extends ../../layouts/main
block main
  .l-contact
    .contact-bloc__intro
      h1.contact__title Pour me contacter, n'hésitez pas à me suivre sur <a href="https://twitter.com/francoiscoron" rel="nofollow" title="Twitter">Twitter</a> ou sur mon profil <a href="https://www.linkedin.com/pub/francois-coron/54/63b/399" rel="nofollow" title="Linkedin">Linkedin</a> . Vous pouvez bien évidement m'envoyer un <a href="mailto:hello@francoiscoron.com" title="Email">Email</a>.