.about__wrapper {
    width: 70%;
    margin: 0 auto;
    text-align: center;

    @media screen and (max-width: $medium-width) {
        width: 100%;
        padding: 10px;
    }

}

.summary__title, .workflow__title {
    text-transform: uppercase;
    font-size: 3rem;
    margin-bottom: 1rem;
}

.summary__text, .workflow__text{
    font-size: 1.5rem;
    line-height: 1.8;

    @media screen and (max-width: $medium-width) {
        font-size: 1rem;
    }
}

.about__summary {
    padding: 150px 0;


    @media screen and (max-width: $medium-width) {
       padding: 10px;
    }
}

.about__workflow {
    background-color: #E4E4E4;
    padding: 150px 0;

    @media screen and (max-width: $medium-width) {
        padding: 10px;
    }
}
.about__cv {
    @include clearfix();
    background:#282828;
}
.bloc__profil {
    width: 50%;
    float: left;
    background:transparent url('/images/profil.jpg') left top no-repeat;
    @include background-size(cover);
    height: 330px;

    @media screen and (max-width: $medium-width) {
        float: none;
        width: 100%;
    }
}

.bloc__download {
    width: 50%;
    float: right;
    background: #282828;
    height: 330px;
    padding: 4rem;
    color: #FFF;

    @media screen and (max-width: $medium-width) {
        float: none;
        width: 100%;
        padding: 30px 10px;
        text-align: center;
        height: auto;
    }
}

.download__title {
    font-weight: 300;
    font-size: 2.5rem;
    margin: 0 0 1rem;
    color: lighten($heading-color, 10%);
    text-transform: uppercase;
}

.download__text {
    font-size: 1.3rem;
    margin: 0;
}

.download__button {
    display: inline-block;
    text-transform: uppercase;
    margin-top: 2rem;
    padding: .5rem 2rem;
    border: 1px solid #FFF;
    color: #FFF;
    @include transition-duration(.3s);

    &:hover {
        color: $brand-color;
        border-color: $brand-color;
    }
}