.l-main__intro {
    margin: 200px auto;
    text-align: center;
    width: 50%;

    @media screen and (max-width: $medium-width) {
        margin: 100px auto;
        width: 100%;
        padding: 10px;
    }
}

.intro__title {
    text-transform: uppercase;
    font-weight: 800;
    font-size: 3.25em;
    margin: 0;

    @media screen and (max-width: $medium-width) {
        font-size: 3rem;
    }
}

.intro__subtitle {
    font-weight: 300;
    font-size: 2.25em;
    margin: 0;
    @media screen and (max-width: $medium-width) {
        font-size: 1.6rem;
    }
}

.more-works {
    padding: 3rem 0;
    text-align: center;
}

.more-works--button {
    padding: .5rem 2rem;
    border: 1px solid $base-color;
    display: inline-block;
    vertical-align: middle;
    font-size: 1.2rem;

    i {
        vertical-align: middle;
        font-size: 1.4rem;
        margin-right: .5rem;
        display: inline-block;
        margin-top: -3px;
    }

    &:hover {
        color: #1769ff;
        border-color: #1769ff;
    }
}