// Main Nav
.main-nav {
    float: left;
    margin-top: 20px;
}

.main-nav__links {
    text-transform: uppercase;
    margin-right: 2rem;
}



// Social links
.social-nav {
    float: right;
    margin-top: 20px;
    @media screen and (max-width: $medium-width) {
        display: none;
    }
}
.social-nav__links {
    margin-left: 20px;
}

.main-nav {
    @media screen and (max-width: $medium-width) {
        position: fixed;
        visibility: hidden;
        opacity: 0;
        left: 0; right: 0; top: 70px; bottom: 0;
        background:#FFF;
        text-align: center;
        z-index: 2;

        @include transition(opacity .2s ease-in-out);

        a {
            font-size: 2rem;
            display: block;
            margin: 1rem 0;
        }

    &.show {
      opacity: 1;
      visibility: visible;
    }
}
}

// Responsive NAv
.menu-icon {
    display: none;
    position: absolute;
    right: 15px; top: 15px;
    padding: 20px;
    z-index: 3;
    cursor: pointer;

    @media screen and (max-width: $medium-width) {
        display: block;
    }

}

.menu-icon--bar{
    display: block;
    width: 24px; height: 4px;
    background: #333;

    &:after, &:before {
        content: '';
        position: absolute;
        display: block;
        width: 24px; height: 4px;
        background: #333;
        @include transition-duration(.3s);
    }

    &:before { margin-top: -8px; }
    &:after { margin-top: 8px; }

    &.show {
        background-color: transparent;

        &:before {
            margin-top: 0;
            background: #333;
            @include transform(rotate(-45deg));
        }

        &:after {
            margin-top: 0;
            background: #333;
            @include transform(rotate(45deg));
        }
    }
}