// WORK List

.l-main__works {
    @include clearfix();
}

.works__grid--left {
    float: left;
    width: 50%;

    @media screen and (max-width: $medium-width) {
        float: none;
        width: 100%;
    }
}

.works__grid--right {
    float: right;
    width: 50%;

    @media screen and (max-width: $medium-width) {
        float: none;
        width: 100%;
    }
}

.works__grid--bloc {
    &.jeanseu {
       @include works-img('/images/jean-seu.jpg');
        height: 400px;
        background-position: center center;
    }
    &.francois-coron {
        @include works-img('/images/pro-francois-coron-1.jpg');
        height: 400px;
        background-position: center center;
    }
    &.pulp-design {
        @include works-img('/images/pulp-design.jpg');
        height: 800px;
        background-position: top left;

        @media screen and (max-width: $medium-width) {
            height: 400px;
        }

    }

    &:hover {
        .works__grid--caption { opacity: 1; }
        .works__grid--button { opacity: 1; }
    }
}

.works__grid--caption {
    position: absolute;
    top: 10%; left: 10%; right: 10%; bottom: 10%;
    background:rgba(#FFF, .9);
    @include transition(all .3s ease-in-out);
    text-align: center;
    opacity: 0;
}

.grid__caption {
    position: absolute;
    top: 50%;left: 50%;
    @include transform(translate(-50%,-50%));
}

.caption__title {
    text-align: center;
    color: $heading-color;
    margin: 0 auto 1rem;
    font-weight: 900;
    text-transform: uppercase;
    font-size: 2.25rem;
}
.caption__button {
    display: inline-block;
    color: $base-color;
    padding: .5rem 2rem;
    text-transform: uppercase;
    border: 1px solid $base-color;

    &:hover {
        color: $brand-color;
        border-color: $brand-color;
    }
}

// SINGLE WORK
.l-single-work {
    @include clearfix();
    a {
        font-weight: 600;
    }
}
.single-work__wrapper {
    background: $bg-bloc;
    padding: 2rem;
}
.work__image--left, .work__image--right {
    float: left;
    width: 50%;
}
.single-work__desc { @include clearfix(); }

.single-work__title {
    font-size: 2.5rem;
    text-transform: uppercase;
    margin: 0 0 1rem;

    @media screen and (max-width: $medium-width) {
        font-size: 1.8rem;
    }
}
.single-work__subtitle {
    font-size: 1.2rem;
    font-weight: lighter;
    display: inline-block;
    margin-left: .6rem;
    font-style: italic;
    color: lighten($heading-color, 20%);
}

.single-work__summary--left, .single-work__summary--right {
    width: 50%;
    float: left;
    text-align: left;

    h2 {
        font-size: 1rem;
        margin: 0;
    }

    p {
        margin: 0;
    }

    @media screen and (max-width: $medium-width) {
        float: none;
        width: 100%;
        padding: 10px;
    }

}
.single-work__summary--left { padding-right: 1rem;}
.single-work__summary--right { padding-left: 1rem; }

.single-work__link {
    text-transform: uppercase;
    display: inline-block;
    margin-top: 1rem;
    font-size: 1rem;
    font-weight: 600;

    @media screen and (max-width: $medium-width) {
        display: block;
        text-align: center;
    }
}


.pagination {
    padding: 2rem 0;
    text-align: center;
}

.pagination--prev, .pagination--next {
    text-transform: uppercase;
}

.pagination--next {
    &:before {
        content: " | ";
        margin: 0 1rem;
    }
    &:hover:before {
        color: $base-color;
    }
}
