.l-main__works {
    @include clearfix();
}

.works__grid--left {
    float: left;
    width: 50%;

    @media screen and (max-width: $medium-width) {
        float: none;
        width: 100%;
    }
}

.works__grid--right {
    float: right;
    width: 50%;

    @media screen and (max-width: $medium-width) {
        float: none;
        width: 100%;
    }
}

.works__grid--bloc {
    &.jeanseu {
       @include works-img('/images/jean-seu.jpg');
        height: 400px;
    }
    &.maatch {
        @include works-img('/images/maatch.jpg');
        height: 400px;
    }
    &.treeends {
        @include works-img('/images/treeends.jpg');
        height: 800px;
    }
    &:hover {
        .works__grid--caption { opacity: 1; }
        .works__grid--button { opacity: 1; }
    }
}

.works__grid--caption {
    position: absolute;
    top: 10%; left: 10%; right: 10%; bottom: 10%;
    background:rgba(#FFF, .9);
    @include transition(all .3s ease-in-out);
    text-align: center;
    opacity: 0;
}

.grid__caption {
    position: absolute;
    top: 50%;left: 50%;
    @include transform(translate(-50%,-50%));
}

.caption__title {
    text-align: center;
    color: $heading-color;
    margin: 0 auto 1rem;
    font-weight: 900;
    text-transform: uppercase;
    font-size: 2.25rem;
}
.caption__button {
    display: inline-block;
    color: $base-color;
    padding: 10px 20px;
    text-transform: uppercase;
    border: 1px solid $base-color;
}
