extends ../layouts/main
block main
  .l-404
    h1.l-404__title 404
    h2.l-404__summary Oups ! Il semblerait que la page que vous recherchez n'hésiste pas
    a.l-404__button(href="/" title="Retour sur francoiscoron.com") Retour à l'accueil du site