extends ../layouts/main
block main

    .l-main__intro
      h1.intro__title FRANCOIS CORON
      h2.intro__subtitle Web Designer &amp; Développeur Front-End basé à lyon.

    .l-main__works
      .works__grid--left
        .works__grid--bloc.jeanseu
          a.works__grid--caption(href="#" title="Jean Seu")
            .grid__caption
              h3.caption__title Jean Seu
              span.caption__button Voir le projet
        .works__grid--bloc.maatch
          a.works__grid--caption(href="#" title="Jean Seu")
            .grid__caption
              h3.caption__title Maatch
              span.caption__button Voir le projet
      .works__grid--right
        .works__grid--bloc.treeends
          a.works__grid--caption(href="#" title="Jean Seu")
            .grid__caption
              h3.caption__title Treeends
              span.caption__button Voir le projet

    .l-main__skills
      .skills__bloc
        img.skills__icons(src="/images/icons/design.png", alt="Web Design")
        h3.skills__title Web Design
        p.skills__summary Sketching, wirframing, reflexion parcours utilisateur, maquettes, prototyping, design d’interface
      .skills__bloc
        img.skills__icons(src="/images/icons/code.png", alt="Web Design")
        h3.skills__title Web Développement
        p.skills__summary Html 5, css 3, javascript/jquery, git & github, gulp, sass & compass, jade, serveur FTP
      .skills__bloc
        img.skills__icons(src="/images/icons/seo.png", alt="Web Design")
        h3.skills__title Seo &amp; optimisation
        p.skills__summary Code valide W3C, optimisation des médias pour le web, optimisation pour le référencement naturel
