footer.l-footer

  .footer-bloc
    .footer-bloc__info
      h4 FRANCOIS CORON
      p Graphique &  Web designer // Développeur Front End basé à Lyon

    .footer-bloc__contact
      h4 CONTACT
      a(href="mailto:hello@francoiscoron.com") hello[at]francoiscoron.com
      p (+33) 7 81 12 52 26
    .footer-bloc__social
        a.footer-bloc__social__links(href="#")
          i.icon-twitter
        a.footer-bloc__social__links(href="#")
          i.icon-linkedin
        a.footer-bloc__social__links(href="#")
          i.icon-github
        a.footer-bloc__social__links(href="#")
          i.icon-behance
  .footer__copy
    small ©2014 Francois Coron - Tout droits réservés

script(src="/js/app.min.js" async)