header.l-header#sticky-header
    .wrapper
      a.header__logo(href="/" title="Francois Coron designer web et intégrateur web")
        img(src="/images/logo-francois-coron.png", alt="Francois Coron Designer Web" width="60" height="60")
      include navigation