header.l-header#sticky-header
    a.header__logo(href="/")
      img(src="/images/logo-francois-coron.png", alt="Francois Coron Deisgner Web" width="60" height="60")
    include navigation

nav.mobile-nav
  .mobile-nav__container
    a.mobile-nav__links(href="/") projets
    a.mobile-nav__links(href="/a-propos/") à propos
    a.mobile-nav__links(href="/contact/") contact
    a.mobile-nav__links(href="http://www.blog.francoiscoron.com/") blog