//- FAVICONS & APPLE TOUCH ICONS
link(rel="shortcut icon" href="/favicon.ico" type="image/x-icon")
link(rel="apple-touch-icon" href="/images/icons/apple-touch-icon.png")
link(rel="apple-touch-icon" sizes="57x57" href="/images/icons/apple-touch-icon-57x57.png")
link(rel="apple-touch-icon" sizes="72x72" href="/images/icons/apple-touch-icon-72x72.png")
link(rel="apple-touch-icon" sizes="76x76" href="/images/icons/apple-touch-icon-76x76.png")
link(rel="apple-touch-icon" sizes="114x114" href="/images/icons/apple-touch-icon-114x114.png")
link(rel="apple-touch-icon" sizes="120x120" href="/images/icons/apple-touch-icon-120x120.png")
link(rel="apple-touch-icon" sizes="144x144" href="/images/icons/apple-touch-icon-144x144.png")
link(rel="apple-touch-icon" sizes="152x152" href="/images/icons/apple-touch-icon-152x152.png")

//- WINDOWS ICONS
meta(name="application-name" content="Francois Coron ")
meta(name="msapplication-TileColor" content="#000000")
meta(name="msapplication-square70x70logo" content="/images/icons/tiny.png")
meta(name="msapplication-square150x150logo" content="/images/icons/square.png")
meta(name="msapplication-wide310x150logo" content="/images/icons/wide.png")
meta(name="msapplication-square310x310logo" content="/images/icons/large.png")

//- TWITTER
meta(name="twitter:card" content="summary_large_image")
meta(name="twitter:site" content="@francoiscoron")
meta(name="twitter:creator" content="@francoiscoron")
meta(name="twitter:title" content="Francois Coron | Web Designer & Développeur Front-End")
meta(name="twitter:description" content="Je suis Francois Coron. Je suis designer web et développeur web front-end, basé à Lyon.")
meta(name="twitter:image:src" content="http://francoiscoron.com/images/cover-og-large.jpg")

//- FACEBOOK
meta(property="og:title" content="Francois Coron | Webdesigner & Développeur front-end")
meta(property="og:type" content="website")
meta(property="og:url" content="http://francoiscoron.com/")
meta(property="og:site_name" content="Francois Coron")
meta(property="og:locale" content=" fr_fr")
meta(property="og:description" content="Je suis Francois Coron. Je suis designer web & développeur front-end basé à Lyon.")
meta(property="og:image" content="http://francoiscoron.com/images/cover-og-large.jpg")

