a.btn-burger#btn-nav
  span.btn-burger__bar
  span.btn-burger__bar
  span.btn-burger__bar

nav.main-nav
  a.main-nav__links(href="/") projets
  a.main-nav__links(href="/a-propos/") à propos
  a.main-nav__links(href="/contact/") contact
  a.main-nav__links(href="http://www.blog.francoiscoron.com/") blog

nav.social-nav
  a.social-nav__links(href="https://twitter.com/francoiscoron" title="Twitter" target="_blank" rel="nofollow")
    i.icon-twitter
  a.social-nav__links(href="https://www.linkedin.com/pub/francois-coron/54/63b/399" title="Linkedin" target="_blank" rel="nofollow")
    i.icon-linkedin
  a.social-nav__links(href="https://github.com/francoiscoron" title="Github" target="_blank" rel="nofollow")
    i.icon-github
  a.social-nav__links(href="https://www.behance.net/francoiscoron" title="Behance" target="_blank" rel="nofollow")
    i.icon-behance