a.btn-burger#btn-nav
  span.btn-burger__bar
  span.btn-burger__bar
  span.btn-burger__bar

nav.main-nav
  a.main-nav__links(href="/" title="Voir les projets web") projets
  a.main-nav__links(href="/a-propos/" title="En savoir plus sur moi") à propos
  a.main-nav__links(href="/contact/" title="Me contacter") contact
  a.main-nav__links(href="http://www.blog.francoiscoron.com/" title="Blog sur le webdesign et le développement front end") blog

nav.social-nav
  a.social-nav__links(href="https://twitter.com/francoiscoron" title="Twitter" target="_blank" rel="nofollow")
    i.icon-twitter
  a.social-nav__links(href="https://www.linkedin.com/pub/francois-coron/54/63b/399" title="Linkedin" target="_blank" rel="nofollow")
    i.icon-linkedin
  a.social-nav__links(href="https://github.com/francoiscoron" title="Github" target="_blank" rel="nofollow")
    i.icon-github
  a.social-nav__links(href="https://www.behance.net/francoiscoron" title="Behance" target="_blank" rel="nofollow")
    i.icon-behance