nav.main-nav
  a.main-nav__links(href="/") projets
  a.main-nav__links(href="/a-propos/") à propos
  a.main-nav__links(href="#") blog
  a.main-nav__links(href="/contact/") contact

nav.social-nav
  a.social-nav__links(href="#")
    i.icon-twitter
  a.social-nav__links(href="#")
    i.icon-linkedin
  a.social-nav__links(href="#")
    i.icon-github
  a.social-nav__links(href="#")
    i.icon-behance