block title
  title Francois Coron | Jean Seu
block description
  meta(name="description" content="Création d'un thème wordpress pour un portfolio")

extends ../../../layouts/main
block main
  .l-single-work

    img(src="/images/test.jpg", alt="Création site Jean Seu")

    .single-work__wrapper
      h1.single-work__title Pulp Design
      .single-work__desc
        .single-work__summary--left
          h2 Le projet
          p Jean Seu est directeur artistique et designer graphique. Il m'a donc fournit une maquette complète de ce à quoi son site devait ressembler. Le but était de développer un portfolio où la publication de travaux ce fait simplement et entièrement maintenable

        .single-work__summary--right
          h2 La solution
          p Pour ce projet j'ai utilisé le CMS Wordpress. Aprés la découpe de la maquette et l'optimisation des médias. J'ai créer un thème Wordpress de A à Z responsive. J'ai également veillé à un développement web optimisé pour le référencement naturel.

      a.single-work__link(href="http://jean-seu.com" title="Voir le site web de Jean Seu") http://jeanseu.com
  .pagination
    a.pagination--prev(href="/projets/francois-coron/") &larr; Projet précédent
    a.pagination--next(href="/projets/jean-seu/") Projet suivant &rarr;