extends ../../layouts/main
block main

  .l-about
    .about__cover
      img(src="/images/about-cover.jpg", alt="Francois Coron")

    .about__summary
      .about__wrapper
        h1.summary__title A propos
        p.summary__text Bienvenu à bord ! Je suis Francois. Je suis web designer et développeur front-end basé à Lyon. Passionné par le web, je me suis spécialisé dans le développement front-end et l'intégration web. J'apporte une grande importance au parcours utilisateur et au design émotionel.

    .about__workflow
      .about__wrapper
        h1.workflow__title Workflow
        p.workflow__text Bienvenu à bord ! Je suis Francois. Je suis web designer et développeur front-end basé à Lyon. Passionné par le web, je me suis spécialisé dans le développement front-end et l'intégration web. J'apporte une grande importance au parcours utilisateur et au design émotionel.

    .about__cv
      .bloc__profil
      .bloc__download
        h2 Curiculum Vitae
        p N'hésitez pas à jetter un oeil un à mon cv
        a.button(href="#") Voir mon cv