block title
      title Francois Coron | A propos
    block description
      meta(name="description" content="Designer Web & Développeur web front-end basé à Lyon, Rhône-Alpes. Je créer des sites web dynamique et optimisé en html, css et javascript. N'hésitez pas à me contacter pour vos projets web")

extends ../../layouts/main
block main

  .l-about
    .about__cover
    .about__summary(itemscope itemtype="http://data-vocabulary.org/Person")
      .about__wrapper
        h1.summary__title A propos
        p.summary__text Bienvenue à bord ! Je suis <span itemprop="name">Francois Coron</span>. Je suis <span itemprop="title">web designer &amp; développeur web front-end</span> basé à <span itemprop="address" itemscope itemtype="http://data-vocabulary.org/Address"><span itemprop="locality">Lyon</span>.</span> Passionné par le web, je me suis spécialisé dans le développement front-end et le design de site web. Sensible au design, j'apporte une grande importance au parcours utilisateur(UI) et au design émotionel dans chacun de <a href="http://francoiscoron.com" itemprop="url" title="Francois Coron | Web designer Développeur front-end">mes projets</a>.

    .about__workflow
      .about__wrapper
        h2.workflow__title Workflow
        p.workflow__text Je suis tout aussi à l'aise avec les logiciels de création graphiques qu'avec ceux de développement web. Toujours à l'affut des dernières technologies web, j'aime expérimenter, apprendre et <a href="http://blog.francoiscoron.com" title="Voir mon blog sur le développement web et le webdesign">partager</a> de nouvelles choses. N'hésitez pas à me <a href="/contact/" title="Me contacter">contacter</a>.

        .workflow__icns
          .workflow__icns--html
          .workflow__icns--css
          .workflow__icns--gulp
          .workflow__icns--jquery
          .workflow__icns--sass

    .about__cv
      .bloc__profil
      .bloc__download
        h2.download__title En savoir plus
        p.download__text Pour en savoir plus sur mon parcours et mes compétences vous pouvez jetter un oeil à mon cv.
        a.download__button(href="/assets/cv-francois-coron.pdf" title="Télécharger mon cv") Voir mon cv