* { @include box-sizing(border-box) }
body {
    font-family: $base-font-family;
    font-size: $base-font-size;
    color: $base-color;
    margin-top: 90px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    &.sm-show {
        overflow-y: hidden;
    }

}

a {
    color: $base-color;
    text-decoration: none;
    &:hover {
        color: $brand-color;
    }
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

.l-container {
    margin: 0 50px;

    @media screen and (max-width: $medium-width) {
        padding: 0 10px;
        margin: 0 auto;
    }
}

h1,
h2,
h3 { color: $heading-color;}
