block title
  title Francois Coron | Francois Coron développement web
block description
  meta(name="description" content="Création d'un site web personnel avec Gulp, jade et compass")

extends ../../../layouts/main
block main
  .l-single-work

    img(src="/images/pro-francois-coron-1.jpg", alt="Design de site web")

    img(src="/images/pro-francois-coron-2.jpg", alt="Site web Responsive")

    img.work__image--left(src="/images/pro-francois-coron-3.jpg", alt="Wireframing et sketing")

    img.work__image--right(src="/images/pro-francois-coron-4.jpg", alt="Développement web")

    img(src="/images/pro-francois-coron-5.jpg", alt="Intégration html & css")

    .single-work__wrapper
      h1.single-work__title Francois Coron
        span.single-work__subtitle Création &amp; développement web
      .single-work__desc
        .single-work__summary--left
          h2 Le projet
          p Création d'un site web personnel - Ce projet était de développer un site personnel dans lequel je pourrai présenter mes réalisations. Il devait posséder un espace à propos afin de me présenter, un espace contact ainsi qu'un blog.

        .single-work__summary--right
          h2 La solution
          p J'ai d'abord crayonné mon site, je l'ai ensuite designer sur photoshop pour enfin l'intégrer. J'ai choisi de le développer avec un workflow moderne en utilisant jade, sass &amp; compass et gulp. Le code source du site est disponnible sur <a href="https://github.com/francoiscoron/website" title="voir le code source">github</a>

      p.single-work__link Personnel | 2014 | <a href="http://francoiscoron.com" title="Voir le site web de Francois Coron">http://francoiscoron.com</a>

  .pagination
    a.pagination--prev(href="/projets/jean-seu/") &larr; Projet précédent
    a.pagination--next(href="/projets/pulp-design/") Projet suivant &rarr;