@mixin works-img($img) {
    width: 100%;
    position: relative;
    background-color: transparent;
    background-repeat: no-repeat;
    background-image: url($img);
    @include background-size(cover);
}