// Base
$base-font-family: 'Source Sans Pro', sans-serif;
$base-color: #4C4B4B;
$base-font-size: 16px;
$background-color: #FFF;

// Colors
$brand-color: #c1ab80;
$heading-color: #303030;

// Responsive
$small-width: 320px;
$medium-width: 700px;