// Base
$base-font-family: 'Source Sans Pro', sans-serif;
$base-color: #4C4B4B;
$base-font-size: 16px;
$background-color: #FFF;

// Colors
$brand-color: #c1ab80;
$heading-color: #303030;
$bg-bloc: #edeceb;

// Responsive
$large-width: 920px;
$medium-width: 730px;